<form action="/result">
  <div class="form-group">
   <label for="word">Enter a word:</label>
   <input id="word" name="word" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Scrabble!</button>
</form>
